[run]
branch = True
source = skmine
include = */skmine/*
parallel = True
omit =
    **/tests/*
    */setup.py


[report]
# see `https://stackoverflow.com/questions/9202723/excluding-abstractproperties-from-coverage-reports`
exclude_lines = 
    pragma : no cover
    pass
    fetch_any
    data_home
    LXML_INSTALLED
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    except ImportError
    if self.verbose
    _get_tags

show_missing = True
