*.vscode
*.pkl
*.png
*.pdf
*.dot
**/__pycache__/
.coverage.*
.coverage
*.csv
**/.ipynb_checkpoints/
**/*.cpp
**/*.so
.gitconfig
*.doctree
*.rst.txt
*.buildinfo
*.pickle
docs/_build/*
docs/skmine.*.rst
build/
*.egg*
