*.vscode
*.pkl
*.png
*.pdf
*.dot
**/__pycache__/
.coverage*
*.csv
**/.ipynb_checkpoints/
**/*.cpp
**/*.so
**/*.html
.gitconfig
*.doctree
*.rst.txt
*.js
*.buildinfo
*.inv
*.pickle
docs/_build/*
docs/_static/
docs/skmine*.rst
docs/modules*.rst
build/
*.egg*
.vscode/
.build/
.pytest_cache/
env/
results/
html/
