*.vscode
*.pkl
*.png
*.pdf
*.dot
**/__pycache__/
.coverage.*
.coverage
*.csv
**/.ipynb_checkpoints/
**/*.cpp
**/*.so
**/*.html
.gitconfig
*.doctree
*.rst.txt
*.js
*.buildinfo
*.inv
*.pickle
docs/_build/*
docs/skmine.*.rst
build/
