[MASTER]
ignore-patterns=test.*?.py,docs/
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"

[MESSAGES CONTROL]
disable=invalid-name,
        too-few-public-methods,
        arguments-differ,
        cell-var-from-loop,
        multiple-statements,
        anomalous-backslash-in-string,
        too-many-instance-attributes,
        no-member,
        attribute-defined-outside-init,
        too-many-locals,
        unused-argument,
        unsubscriptable-object,
        dangerous-default-value,
        protected-access,

[FORMAT]
max-line-length=120