[MASTER]
ignore-patterns=test.*?.py,docs/

[MESSAGES CONTROL]
disable=invalid-name,
        too-few-public-methods,
        fixme,
        arguments-differ,
        cell-var-from-loop,
        multiple-statements,
        anomalous-backslash-in-string,
        too-many-instance-attributes,
        no-member,
        attribute-defined-outside-init,
        too-many-locals,
        bad-continuation,
        unused-argument,
        unsubscriptable-object,
        dangerous-default-value,
        protected-access,